<% provide(:title, "About") %>

<body>
  <h1>About</h1>

  <h3><bold>Sean Brooks</bold> is the keeper of this site.</h3>

  <h5>Contact email: swbrooks87@gmail.com</h5>
  <h5>Twitter: Sean Brooks @swbrooks87
</body>
