<% provide(:title, "Contact") %>

<body>

<h1>Contact</h1>

<h3><bold>Sean Brooks</bold> is the keeper of TWIKR.</h3>

<h5>Contact email: swbrooks87@gmail.com</h5>
<h5>Twitter: @sean_w_brooks</h5>

</body>
