<!DOCTYPE html>
<html>
  <head>
    <title>Help | Investics Banatics</title>
  </head>
  <body>
    <h1>Help</h1>
    <ul>
      <li>Buy low sell high.</li>
      <li>Historical performance does not guarantee future results.</li>
    </ul>
  </body>
</html>
