<% provide(:title, "Home") %>

<body>

<div class="ticker">
  <form class="stock_quote" action="/static_pages" method="post">
    <input type="text" name="ticker" value="">
    <input type="submit" name="" value="Ticker(s)">
  </form>
</div>

<div class="magicBall">
  <div id="main">Ask a question and the Magic 8 Ball will answer it with a click...</div>
    <div id="add">
      <div id="ball">
        <div id="ball-within-ball">
          8
        </div>
      </div>
    </div>
</div>

<div id="tic-tac-toe">
  <h1>Tic Tac Toe</h1>
  <table>
    <tr id="first-row">
      <td class="square"></td>
      <td class="square v"></td>
      <td class="square"></td>
    </tr>
    <tr id="second-row">
      <td class="square h"></td>
      <td class="square v h"></td>
      <td class="square h"></td>
    </tr>
    <tr id="third-row">
      <td class="square"></td>
      <td class="square v"></td>
      <td class="square"></td>
    </tr>
  </table>
</div>

</body>
