<% provide(:title, "Home") %>

<body>
<nav class="clearfix">
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/quote">Data</a></li>
  <li><a href="/static_pages/about">About</a></li>
  <li><a href="/static_pages/help">Help</a></li>
</nav>
<div class="header">
  <div class="title">
    <h1>Data :: <=> :: Internet</h1>
  </div>
  <div class="subtitle">
    <h4>Data made simple(r).</h4>
  </div>
</div>

<div class="ticker">
  <form class="stock_quote" action="/static_pages" method="post">
    <input type="text" name="ticker" value="">
    <input type="submit" name="" value="Ticker(s)">
  </form>
</div>

<footer>
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/quote">Data</a></li>
  <li><a href="/static_pages/about">About</a></li>
  <li><a href="/static_pages/help">Help</a></li>
</footer>
</body>
