<% provide(:title, "Home") %>

<h1>Welcome to Investics Banatics</h1>
<h3>It's time to go bananas!</h3>

<p>Investics Banatics is a platform for backtesting your algorithms.
    Here is your playground...
</p>
