<h1>Investment Banatics!</h1>

<p>Welcome to Investment Banatics!  Investment Banatics is for investors who are placing their first trade to ametuers looking to get into performance and analytics.
  IB provides a platform for backtesting algorithms by taking out the hard work and configuring a platform to market data.  Here is your playground to go bananas!</p>
