<% provide(:title, "Home") %>

<body>
<nav>
  <li><a href="home.html.erb">Home</a></li>
  <li><a href="quote.html.erb">Data</a></li>
  <li><a href="about.html.erb">About</a></li>
  <li><a href="help.html.erb">Help</a></li>
</nav>
<div class="header">
  <div class="title">
    <h1>Analytics made simple</h1>
  </div>
  <div class="subtitle">
    <h4>Investics Banatics is a platform for backtesting algorithms, managing assets, and understanding the abstractions of the market: data.
      We make seeing your ideas simpler.</h4>
  </div>
</div>

<form class="stock_quote" action="/static_pages" method="post">
  <input type="text" name="ticker" value="">
  <input type="submit" name="" value="Ticker(s)">
</form>

<footer>
  <li><a href="static_pages/home">Home</a></li>
  <li><a href="static_pages/quote">Data</a></li>
  <li><a href="static_pages/about">About</a></li>
  <li><a href="static_pages/help">Help</a></li>
</footer>
</body>
