<% provide(:title, "Home") %>

<div class="header">
  <h1>Investics Banatics</h1>
  <h3>Analytics for everyone!</h3>
</div>
<p>Investics Banatics is a platform for backtesting your algorithms.
    Here is your playground...
</p>

<form class="stock_quote" action="/static_pages" method="post">
  <input type="text" name="ticker" value="">
  <input type="submit" name="" value="Ticker(s)">
</form>
