<% provide(:title, "Home") %>
<script src="application.js" defer></script>

<body>
<nav class="clearfix">
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/quote">Data</a></li>
  <li><a href="/static_pages/about">About</a></li>
  <li><a href="/static_pages/help">Help</a></li>
</nav>
<div class="header">
  <div class="title">
    <h1>Data :: <=> :: Market</h1>
  </div>
  <div class="subtitle">
    <h4>Data made simple(r).</h4>
  </div>
</div>

<div class="ticker">
  <form class="stock_quote" action="/static_pages" method="post">
    <input type="text" name="ticker" value="">
    <input type="submit" name="" value="Ticker(s)">
  </form>
</div>

<div class="magicBall">
  <div id="main">Ask a question and the Magic 8 Ball will answer it with a click...</div>
    <div id="add">
      <div id="ball">
        <div id="ball-within-ball">
          8
        </div>
      </div>
    </div>
</div>

<footer>
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/quote">Data</a></li>
  <li><a href="/static_pages/about">About</a></li>
  <li><a href="/static_pages/help">Help</a></li>
</footer>
</body>
