<footer class="footer">
  <nav>
    <ul>
      <li><a href="/static_pages/home">Home</a></li>
      <li><a href="/static_pages/quote">Data</a></li>
      <li><a href="/static_pages/about">About</a></li>
      <li><a href="/static_pages/help">Help</a></li>
    </ul>
  </nav>
</footer>
