<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="clearfix">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><a href="/static_pages/about">About</a></li>
        <li><a href="/static_pages/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="header">
    <div class="title">
      <h1>Twitter :: <=> :: Market</h1>
    </div>
    <div class="subtitle">
      <h4>Decisions made simple(r).</h4>
    </div>
  </div>
</header>
